/* .port-box{
    width: 100%;
    height: 550px;
    background: #fff;
    margin-bottom: 30px;
    text-align: center;
}
.p-img{
    width: 100%;
    height: 250px;
    position: relative;
}
.p-img img{
    width: 100%;
    height: 100%;
}


.port-box p{
    font-size: 14px;
    font-weight: 400;
    padding: 20px 0px;
}

.btn-box{
    background-color: #117BFB;
    width:100%;
    padding:10px 10px;
}

.image-hover{
    position: absolute;
    top: calc(45%);
    text-align: center;
    height: 50px;
    width: 100%;
    background-color: #333;
    opacity: .75;
    transform: scale(0); 
    transition: all 0.5s ease 0s;
}

.image-hover *{
    position: relative;
    z-index: 2;
}

.image-hover .hover-icon{
    position: relative;
    display:block;
    color: #fff;
    font-size: 20px;
    top: 10px;

}

.image-hover .hover-icon:before {
    position: absolute;
    content: "";
    opacity: .50;

}

.p-img:hover .image-hover {
    transform: scale(1);
} */

